ion-content {
  --background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  padding: 16px 32px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.logo-text {
  color: white;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

.profile-button {
  --color: white;
  font-size: 24px;
}


.styled-hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #ffffff33, #ffffff88, #ffffff33);
  margin: 0 auto;
  width: 100%;
  opacity: 0.5;
}


