<ion-content class="ion-padding">
  <ion-grid class="ion-text-center">
    <ion-row class="ion-justify-content-center" style="margin-top: 10vh;">
      <ion-col size="12" size-md="4" class="form-col">

        <!-- Botón Back alineado a la izquierda del contenido -->
        <div class="back-wrapper">
          <ion-button fill="clear" (click)="goBack()" class="back-button">
            <ion-icon slot="start" name="caret-back"></ion-icon>
            Back
          </ion-button>
        </div>

        <!-- Logo -->
        <div class="logo-header">
          <div class="logo-box">
            <h1 class="logo-text">VAMO ARRIBA</h1>
          </div>
        </div>

        <!-- Formulario -->
        <form (submit)="register()">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="firstName" name="firstName" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input [(ngModel)]="lastName" name="lastName" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirmar Correo</ion-label>
            <ion-input [(ngModel)]="confirmEmail" name="confirmEmail" type="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" [disabled]="loading">
            Registrarse
          </ion-button>

          <ion-text *ngIf="message" [ngClass]="messageClass">
            <p class="ion-padding-start">{{ message }}</p>
          </ion-text>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
