<ion-content class="ion-padding">
  <div class="register-container">
    <!-- Botón Back -->
    <div class="back-wrapper">
      <ion-button fill="clear" (click)="goBack()" class="back-button">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        
      </ion-button>
    </div>

    <!-- Header -->
    <div class="register-header">
      <h1 class="register-title">VAMO ARRIBA</h1>
    </div>

    <!-- Formulario -->
    <div class="register-form-container">
      <form (submit)="register()" class="register-form">
        <div class="form-group">
          <ion-item class="custom-input">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input 
              [(ngModel)]="firstName" 
              name="firstName" 
              required
              class="input-field">
            </ion-input>
          </ion-item>
        </div>

        <div class="form-group">
          <ion-item class="custom-input">
            <ion-label position="floating">Apellido</ion-label>
            <ion-input 
              [(ngModel)]="lastName" 
              name="lastName" 
              required
              class="input-field">
            </ion-input>
          </ion-item>
        </div>

        <div class="form-group">
          <ion-item class="custom-input">
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input 
              [(ngModel)]="email" 
              name="email" 
              type="email" 
              required
              class="input-field">
            </ion-input>
          </ion-item>
        </div>

        <div class="form-group">
          <ion-item class="custom-input">
            <ion-label position="floating">Confirmar correo</ion-label>
            <ion-input 
              [(ngModel)]="confirmEmail" 
              name="confirmEmail" 
              type="email" 
              required
              class="input-field">
            </ion-input>
          </ion-item>
        </div>

        <div class="form-group">
          <ion-item class="custom-input">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input 
              [(ngModel)]="password" 
              name="password" 
              type="password" 
              required
              class="input-field">
            </ion-input>
          </ion-item>
        </div>

        <div class="button-group">
          <ion-button 
            expand="block" 
            type="submit" 
            [disabled]="loading"
            class="primary-button">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            Registrarse
          </ion-button>
        </div>

        <div class="message-container" *ngIf="message">
          <ion-text [ngClass]="messageClass">
            <p>{{ message }}</p>
          </ion-text>
        </div>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer class="custom-footer">
  <div class="footer-content">
    <p class="footer-text">
      By
      <a href="#" class="footer-link">Rafael H.</a>
    </p>
  </div>
</ion-footer>
